@font-face {
    font-family: 'TuFuentePersonalizada';
    src: local('PacFont'), url('./Users/giselasoledadhurtado/Library/Fonts/PAC-FONT.TTF') format('PacFont');
}

* {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    

}

.wrapper{
    width: 65vmin;
    height: 70vmin;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color:  #00000062;
    border-radius: 5px;
    margin-left: 300px;
}

.game-details {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27 px;
    display: flex;
    justify-content: space-between;
}

.play-board {
    width: 100%;
    height: 100%;
    display: grid;
    background-color: transparent;
    background-size: contain;
    grid-template: repeat(28, 1fr) / repeat(28, 1fr);
}

.play-board .ghost {
    background-image: url('./images/fantasmito.png');
    background-size: contain;
    width: 3em; 
    height: 3em; 
}

.play-board .pacman {
    background-image: url('./images/pacmanprincipal.jpg');
    background-size: contain;
    width: 3em; 
    height: 3em; 
}

.play-board .cherry {
    background-image: url('./images/cherry.png');
    background-size: contain;
    width: 3em; 
    height: 3em; 
}


body {
    background-image:url("./images/fondo-pacman.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: aliceblue;
}

.cabecera-imagenes {
    display: flex;
    justify-content: space-around;
}


h1 {
    font-family: './Users/giselasoledadhurtado/Library/Fonts/PAC-FONT.TTF', PacFont;
    color: white;
    text-align: center;   
}



