@font-face {
    font-family: 'TuFuentePersonalizada';
    src: local('PacFont'), url('./Users/giselasoledadhurtado/Library/Fonts/PAC-FONT.TTF') format('PacFont');
}

body {
    font-family: './Users/giselasoledadhurtado/Library/Fonts/PAC-FONT.TTF', PacFont;
}



body {
    background-image:url("images/fondo-pacman.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cabecera-imagenes {
    display: flex;
    justify-content: space-around;
}

#pacman {
    display: flex;
    justify-content:center;
}

h1 {
    color: white;
    text-align: center;
    
}

.fantasmito-image {
    display: flex;
    justify-content: flex-start;
    margin-left: 30%;
}
