
body {
    background-image:url("images/fondo-pacman.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cabecera-imagenes {
    display: flex;
    justify-content: center;
}

.contenedor2 {
    display: flex;
    justify-content: auto;
}

h1 {
    color: white;
    text-align: center;
    
}

.fantasmito-image {
    display: flex;
    justify-content: flex-end;
}